#container {
    border: 1px solid red;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 90%;
}

#inpt {
    width: 17%;
    height: 30px;
    margin-bottom: 10px;
    border: 2px solid black;
}

#container > #keyboard {
    display: grid;
    grid-template-columns:repeat(4, 4%);
    grid-gap: 5px;
    justify-content: center;
    text-align: center;
}

#container > #keyboard > button {
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    background-color: grey;
}

#container > #keyboard > .num {
    background-color: #51557E;
    color: whitesmoke;
}
#container > #keyboard > .char {
    background-color: #1B2430;
    color: whitesmoke;
}