#container {
    display: grid;
    grid-template-columns:repeat(4, 4%);
    grid-gap: 5px;
    border: 1px solid red;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 90%;
}

#container > button {
    border: 1px solid black;
    cursor: pointer;
    height: 50px;
    background-color: grey;
}

#container > .num {
    background-color: blue;
    color: whitesmoke;
}